# Text files
*.txt

# zipped files
*.gz
*.zip

# FASTA/FASTQ files
*.fastq
*.fasta

# CSV files
*.csv

# TBS files
*.tab

# log files
*.log

# ignore this specific directory
/off_hand_notes

# DS_store
.DS_Store

# ignore compiled python
*.pyc

# yaml
*.yaml

# idx files
*.idx
